* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Lexend", sans-serif;
}

.header-section {
    background-image: url(../img/banner.svg);
    height: 100vh;
    & header {
        display: flex;
        justify-content: space-between;
        padding: 16px 92px;
        background-repeat: no-repeat;
        background-size: cover;

       & nav {
            display: flex;
            gap: 40px;    
            
            & a {
                    color: #efefef;
                    font-size: 18px;
                
                } 
       }
       
       .btns {
            display: flex;
            gap: 16px;

            & a {
                padding: 11px 16px;
                border-radius: 8px;
                background-color: blue;
                color: white;
            }
            
            & a:last-child {
            background-color: transparent;
            border: 1px solid white;
        }
        }
       
    }
    
    & #hero {
       margin-top: 114px; 
       margin-left: 95px;
    }
}